body {
    background-color: #fafbfe;
}

.province-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap; 
    /* margin-bottom: 20px; */
    padding-top: 30px;
}

h5 {
    color: #000
}

h4 {
    color: #000
}

.province-card {
    width: 190px; 
    height: 140px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.2s;
}

.province-card:hover {
    transform: scale(1.05);
}

.dash-counts {
    margin-bottom: 10px;
}

.dash-imgs {
    font-size: 30px;
    color: #fff;
}

/* Province-specific colors */
#kigali-card {
    background-color: #F5F5F5;
}

#eastern-card {
    background-color: #ffe030;
}

#southern-card {
    background-color: #E0FFFF;
}

#western-card {
    background-color: #006400;
}

#northern-card {
    background-color: #ADD8E6;
}