:root {
  --primary-color: #5A67BA;
  --secondary-color: #333;
  --text-color: #000000;
  --black-color: #000000;
  --white-color: #ffffff;
  --link-hover-color: #0056b3;
}

body {
  font-family: Inter;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  grid-template-rows: 1fr auto;
  height: 100%; /* Full height */
  background-size: cover;
  display: block; /* Removed flex from body */
}

.button .fa-solid, .fas {
  padding-left: 40px;
}

.background-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#5A67BA, #9EA5D6, white);
  background-color: #ffffff;
}

ul li {
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header {
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 20px; 
  padding-top: 80px;
}

header {
  align-items: center;
  padding: 2px 2px;
  display: flex;
  align-items: center; /* Center vertically */
  background-color: var(--primary-color);
  color: #fff;
  padding: 0px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-left {
  flex: 1; /* Takes up available space on the left */
}

.header-center {
  text-align: center; /* Center the text within */
  flex: 2; /* Takes up more space in the center */
}

.header-right {
  flex: 1; /* Takes up available space on the right */
  display: flex;
  justify-content: flex-end; /* Align to the right */
}

.post-header h3 {
  margin: 0; /* Reset default margins */
}

h3{
  text-align: center;
}

/* header {
  display: flex;
  background-color: var(--primary-color);
  color: #fff;
  padding: 2px 2px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: 30px;
  margin: 0;
  flex: 1;
} */

nav {
  display: flex;
  background-color: #333;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  flex: 1;
}

nav a {
  color: #fff;
  display: block;
  padding: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--secondary-color);
}

main {
  display: block; /* Make sure it's a block */
  max-width: 100%;
  padding: 20px;
  position: relative;
  justify-content: center;
  margin-top: 100px; /* Space for the fixed header */
}

.container {
  display: flex;
  flex-direction: column; /* Stack the child elements vertically */
  align-items: center;    /* Optional: Centers the content horizontally */
  padding: 20px;
  gap: 20px; /* Adds space between the sections */
  padding-bottom: 30px;
}

.container h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Inter';
  color: #5A67BA;
  text-transform: capitalize;
  line-height: 1.3;
}

.pcontainer p {
  font-size: 25px;
  text-align: center;
  font-family: 'Poppins', serif;
  color: #333;
  text-transform: capitalize;
  line-height: 1.3;
  text-shadow: 2px 2px 4px rgba(92, 15, 15, 0.3);
  opacity: 0.7;
  justify-content: center;
}

.second-section {
  text-align: center;
  padding: 20px;
}

.second-section p {
  font-size: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(92, 15, 15, 0.3);
}

footer {
  margin-top: auto;
  background-image: linear-gradient(#ECEDF6, white);
  background-color: #ffffff;
  color: #000000;
  padding: 1px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: #5A67BA;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #ffffff;
}

.btn.pulse:hover {
  background-color: #9EA5D6;
}

.btn.pulse {
  animation: pulse 1.5s infinite;
  display: inline-block;
  padding: 10px 40px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: #ffffff;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.2s;
}


@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

/* Menu */
.dropbtn {
  background-color: #5A67BA;
  color: white;
  align-items: center;
  padding: 16px 50px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  align-items: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  align-items: center;
  position: absolute;
  background-color: #9EA5D6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  align-items: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #5A67BA;}

@media screen and (max-width: 1400px) {
  .banner_section .banner_image img {
      width: 50%;
  }
}
@media screen and (max-width: 1400px) {
  .banner_section .banner_image img {
      width: 50%;
  }
}
@media screen and (max-width: 1600px) {
  .banner_section .banner_image img {
      width: 50%;
  }
}
img {
  vertical-align: middle;
  border-style: none;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
@media screen and (max-width: 767px) {
  body {
      font-size: 16px;
      text-align: center;
  }
}