:root {
    --primary-color: #5A67BA;
    --secondary-color: #333;
    --text-color: #000000;
    --black-color: #000000;
    --white-color: #ffffff;
    --link-hover-color: #0056b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    height: 100vh;
    background: #ffffff;
    /* background-image: linear-gradient(#5A67BA, #9EA5D6, white); */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    padding-top: 80;
}

/* Styling for table header */
th {
    background-color: #5A67BA; /* Green background */
    color: white;
    padding: 12px;
    text-align: left;
}

/* Styling for table cells */
td {
    border: 1px solid white; /* Light grey background */
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #fff; /* Border between rows */
    background-color: #fff;
}

/* Hover effect for rows */
tr:hover {
    background-color: #ddd; /* Light grey background on hover */
}

.button .fa-solid, .fas {
    padding-left: 40px;
}

/* Additional styling for the container */
.container {
    padding: 20px;
    margin: auto;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
}

/* Header */
header {
    display: flex;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 10px;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
  
header h1 {
    font-size: 30px;
    margin: 0;
    flex: 1;
}

/* Menu */
.dropbtn {
    background-color: #5A67BA;
    color: white;
    align-items: center;
    padding: 16px 50px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    align-items: center;
    display: inline-block;
}

.dropdown-content {
    display: none;
    align-items: center;
    position: absolute;
    background-color: #9EA5D6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    align-items: center;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #5A67BA;}

.delete {
    background-color: transparent;
    font-family: 'Inter';
    border: transparent;
    color: #5A67BA;
    font-size: medium;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #F1F2F7;
    color: #5A67BA;
    padding: 15px;
    padding-top: 80px;
}

ul li {
    margin-right: 20px;
}
  
ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

.sidebar h2 {
    padding-left: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.sidebar ul li a {
    color: #5A67BA;
    text-decoration: none;
    display: block;
}

.sidebar ul li:hover {
    background: #9EA5D6;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.header {
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 20px; 
    padding-top: 80px;
}

header {
    align-items: center;
    display: flex;
    align-items: center; /* Center vertically */
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-left {
    flex: 1; /* Takes up available space on the left */
}

.header-center {
    text-align: center; /* Center the text within */
    flex: 2; /* Takes up more space in the center */
}

.header-right {
    flex: 1; /* Takes up available space on the right */
    display: flex;
    justify-content: flex-end; /* Align to the right */
}

.post-header h3 {
    margin: 0; /* Reset default margins */
}

h3{
    text-align: center;
}
/* Dashboard Grid */
.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

canvas {
    max-height: 300px; /* Adjust as needed */
    width: 100%;
}

/* Form */
.popup form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #5A67BA;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.button{
    padding: 10px;
    background: #5A67BA;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.container{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.popup {
    width: 900px;
    background: transparent;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 57%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-40%,-60%) scale(1);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.dropbtna {
    background-color: transparent;
    color: #5A67BA;
    padding: 0px 0px;
    font-weight: bold;
} 

.popup button {
    width: 50%;
    font-weight: 500;
    padding: 10px 0;
    background: #5A67BA;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.fa.fa-close {
    position: absolute;
    left: 260px;
    top: 20px;
    font-size: 24px; /* Adjust size */
    cursor: pointer;
    color: black;
}

/* Footer */
footer {
  margin-top: auto;
  /* background-image: linear-gradient(#ECEDF6, white); */
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

a {
    text-decoration: none;
    color: #5A67BA;
}