<!DOCTYPE HTML>
<html>
	<head>
		<title>Kurikirana</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="{{ url_for('index') }}" class="logo"><strong>Kurikirana</strong></a>
									<ul class="icons">
                                        {% if current_user.is_authenticated or session['google_user'] %}
                                        <a href="{{ url_for('logout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                                        {% else %}
                                        <li></li><span class="label"><a href="{{ url_for('login') }}">Login</span></a></li>
                                        <li></li><span class="label"><a href="{{ url_for('register') }}">Register</span></a></li>
										{% endif %}
							
										<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li> -->
									</ul>
								</header>
								<div class="container">
									<h2>Select a Facility</h2>
									<div class="facility-list">
									{% for facility in facilities %}
										<div class="facility-item">
											<span>{{ facility.facility_name }}</span>
												<a href="{{ url_for('management', facility_id=facility.id) }}">Select</a>
												<form action="{{ url_for('delete_facility', facility_id=facility.id) }}" method="POST" style="display:inline;">
												<button type="submit" class="delete" onclick="return confirm('Are you sure you want to delete this facility?')">Delete</button>
												</form>
										</div>
									{% endfor %}
								</div>
								<button onclick="openPopup()">Add New Facility</button>
								<div class="popup" id="popup">
									<i class="fa fa-close" onclick="closePopup()"></i>
									<form id="facilityForm" method="post" action="{{ url_for('add_facility') }}">
									<br>
									<div class="mb-3">
									<label for="facilityName">Facility Name:</label>
									<input type="text" id="facilityName" name="facilityName" required>
									</div>
									<br>
									<div class="mb-3">
									<label for="facilityName">Location:</label>
									<input type="text" id="facilityLocation" name="facilityLocation" required>
									</div>
									<br>
									<button type="submit">Add Facility</button>
									</form>
								</div>
								</div>
				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
                                        {% if current_user.is_authenticated or session['google_user'] %}
										<li><a href="{{ url_for('index') }}">Homepage</a></li>
										<!-- <li><a href="{{ url_for('generic') }}">Generic</a></li> -->
                                        <li><a href="{{ url_for('facilities')}}">Facilities Management</a>
										<li>
											<span class="opener">Facilities</span>
											<ul>
												<li><a href="#">Bishyenyi</a></li>
												<li><a href="#">Kigali</a></li>
												<li><a href="#">Gikondo</a></li>
											</ul>
                                            {% else %}
                                            <li><a href="{{ url_for('index') }}">Homepage</a></li>
                                            {% endif %}
										</li>
										<li><a href="{{ url_for('aboutus') }}">About Us</a></li>
										<li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                                        {% if current_user.is_authenticated or session['google_user'] %}
                                        <li><a href="{{ url_for('logout') }}">
                                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                        </a></li>
                                        {% endif %}
									</ul>
								</nav>
						</div>
					</div>

			</div>
		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="https://kit.fontawesome.com/6c9e56babf.js" crossorigin="anonymous"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
            <script src="/static/js/main.js"></script>
			<script>
				let facilityPopup = document.getElementById("popup");
				function openPopup() {
							facilityPopup.classList.add("open-popup");
						}
						function closePopup() {
							facilityPopup.classList.remove("open-popup");
						}
					</script>
            <!-- <footer>
                <p>&copy; 2025 Kurikirana</p>
            </footer> -->
	</body>
</html>