<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantity Adjustment Logs</title>
    <!-- <link rel="stylesheet" href="../static/css/inventory.css"> -->
</head>
<body>
    <h1>Quantity Adjustment Logs</h1>
    <table style="width:100%">
        <tr>
            <th>Item Name</th>
            <th>Quantity Change</th>
            <!-- <th>Supplier</th> -->
            <th>Timestamp</th>
            <th>Action</th>
            <th>Location</th>
            <th>Destination</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.item.food_name }}</td>
            <td>{{ log.quantity_change }}</td>
            <!-- <td>{{ log.supplier }}</td> -->
            <td>{{ log.timestamp }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.location }}</td>
            <td>{{ log.destination }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>